.product-detail {
  width: 90%;
  margin: auto;
  .productCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
    .imageContainer {
      margin-top: 100px;
      width: 340px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .product-info {
      margin: auto;
      width: 80%;

      h2 {
        padding-top: 40px;
        font-size: 30px;
        color: #005f5f;
        font-weight: 700;
      }

      p {
        padding-top: 15px;
        font-size: 19px;
        color: gray;
        line-height: 20px;
        font-weight: 400;
      }
      strong {
        color: #4a536e;
      }
    }
  }
  @media screen and (min-width: 1130px) {
    .productCard {
      padding-top: 70px;
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 90px;
    }
  }
}
